/*
 * source:  https://github.com/vmware/clarity/blob/master/src/clr-angular/utils/_overwrites.clarity.scss
 */


$clr-font-base-size: 14; // 14;
$clr-vertical-nav-width: 14rem; // 12rem;//10rem !default;

//Content Area Paddings
$clr-content-area-padding-top: 0; // $clr-baseline*1;
$clr-content-area-padding-right: 0; // $clr-baseline*1;
$clr-content-area-padding-bottom: 0; // $clr-baseline*1;
$clr-content-area-padding-left: 0; // $clr-baseline*1;
