<clr-main-container [ngClass]="{'floating':ui.floating}">
  <ukis-global-alert *ngIf="ui.alert" [(alert)]="ui.alert"></ukis-global-alert>
  <ukis-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></ukis-global-progress>

  <ukis-header [ukis-title]="title">
    <a *ngIf="!userService.isloggedIn()" routerLink="/login" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">Login</a>
    <a *ngIf="userService.isloggedIn()" routerLink="/user" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">User</a>
    <a routerLink="/map" routerLinkActive="active" class="nav-link nav-text header-nav-el">Map</a>

    <clr-dropdown class="header-action-el">
      <button class="nav-icon" aria-label="dropdown" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Preferences</a>
        <a href="..." clrDropdownItem>Settings</a>
      </clr-dropdown-menu>
    </clr-dropdown>

    <clr-dropdown class="header-action-el">
      <button class="nav-icon" aria-label="dropdown" clrDropdownTrigger>
        <clr-icon shape="help-info"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Info</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </ukis-header>
  <router-outlet></router-outlet>
  <ukis-global-footer *ngIf="ui.footer">
    <p>This is the Fotter</p>
    <router-outlet name="footer"></router-outlet>
  </ukis-global-footer>
</clr-main-container>