<clr-vertical-nav clrVerticalNavCollapsible="true" [clr-nav-level]="2">
  <clr-vertical-nav-group>
    <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
    vertical nav group
    <clr-vertical-nav-group-children>
      <div clrVerticalNavLink>
        <div class="toggle-switch">
          <input type="checkbox" id="toggle_1">
          <label for="toggle_1">Toggles turn on and off</label>
        </div>
      </div>
      <div class="clr-radio-wrapper" clrVerticalNavLink>
        <input type="radio" id="vertical-radio1" name="radio-full" value="option1" class="clr-radio">
        <label for="vertical-radio1" class="clr-control-label">option 1</label>
      </div>
      <div class="clr-radio-wrapper" clrVerticalNavLink>
        <input type="radio" id="vertical-radio2" name="radio-full" value="option2" class="clr-radio">
        <label for="vertical-radio2" class="clr-control-label">option 2</label>
      </div>
      <div class="clr-radio-wrapper" clrVerticalNavLink>
        <input type="radio" id="vertical-radio3" name="radio-full" value="option3" class="clr-radio">
        <label for="vertical-radio3" class="clr-control-label">option 3</label>
      </div>

      <div class="checkbox" clrVerticalNavLink>
        <input type="checkbox" id="checkrads_2" checked>
        <label for="checkrads_2">Checkbox 2</label>
      </div>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group>
    <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
    vertical nav group
    <clr-vertical-nav-group-children>
      <a clrVerticalNavLink>
        Vertical Nav Link
      </a>
      <a clrVerticalNavLink>
        Vertical Nav Link
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink (click)="fireAlert('info')">
    <clr-icon shape="info-circle" clrVerticalNavIcon></clr-icon>
    alert-info
  </a>
  <a clrVerticalNavLink (click)="fireAlert('warning')">
    <clr-icon shape="exclamation-triangle" clrVerticalNavIcon></clr-icon>
    alert-warning
  </a>
  <a clrVerticalNavLink (click)="fireAlert('danger')">
    <clr-icon shape="exclamation-circle" clrVerticalNavIcon></clr-icon>
    alert-danger
  </a>
  <div class="nav-divider"></div>

  <div clrVerticalNavLink>
    <div class="toggle-switch right-label">
      <input type="checkbox" id="showFooter" [(ngModel)]="showFooterValue" (ngModelChange)="showFooter($event)">
      <label for="showFooter">showFooter</label>
    </div>
  </div>
  <div class="nav-divider"></div>
  <div clrVerticalNavLink>
    <div class="toggle-switch right-label">
      <input type="checkbox" id="showProgress" [(ngModel)]="showProgressValue" (ngModelChange)="showProgress($event)">
      <label for="showProgress">showProgress</label>
    </div>
  </div>
</clr-vertical-nav>