// .npmrc
registry=https://registry.npmjs.org/
@uiks:registry=http://hofer.eoc.dlr.de/nexus/content/groups/npm-all/
@dlr-eoc:registry=http://hofer.eoc.dlr.de/nexus/content/groups/npm-all/
@dlr-eoc:registry=https://npm.pkg.github.com
@michaellangbein:registry=https://npm.pkg.github.com

