<form clrForm [formGroup]="interpolationForm" clrLayout="vertical">
    <clr-input-container>
        <label>Power</label>
        <input type="range" min="1" max="7" value="1" clrInput formControlName="power">
        <clr-control-helper>inverse distance weighting power</clr-control-helper>
    </clr-input-container>

    <clr-checkbox-container>
        <label>Smoothing</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options" value="true" formControlName="smooth" />
          <label>Smoothing</label>
        </clr-checkbox-wrapper>
    </clr-checkbox-container>

    <clr-checkbox-container>
        <label>Labels</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options" value="false" formControlName="labels" />
          <label>Show labels</label>
        </clr-checkbox-wrapper>
    </clr-checkbox-container>

    <clr-select-container>
        <label>Color-ramp</label>
        <select clrSelect name="ColorRamp" formControlName="colorRamp">
            <option *ngFor="let o of colorRampOptions" [ngValue]="o.value">{{o.name}}</option>
        </select>
        <clr-control-helper>Colors for displaying data</clr-control-helper>
      </clr-select-container>
</form>
