<clr-main-container [ngClass]="{'floating':ui.floating}">
  <ukis-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></ukis-global-progress>
  <ukis-header [ukis-title]="'Demo maps'">
    <a *ngFor="let route of routes" routerLink="/{{route.path}}" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">{{route.data.title}}</a>
  </ukis-header>

  <router-outlet></router-outlet>

  <ukis-global-footer *ngIf="ui.footer">
    <p>This is the Footer</p>
  </ukis-global-footer>

</clr-main-container>