<clr-main-container [ngClass]="{'floating':ui.floating}">
  <ukis-global-alert *ngIf="ui.alert" [(alert)]="ui.alert"></ukis-global-alert>
  <ukis-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></ukis-global-progress>

  <ukis-header [ukis-title]="title">
    <a *ngFor="let route of routes" routerLink="/{{route.path}}" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">{{route.data.title}}</a>
  </ukis-header>
  <router-outlet></router-outlet>
</clr-main-container>
