<div class="content-area" style="overflow:hidden;">
<div class="card" style="min-width:300px; width: 20%; margin: 15% auto;">
  <div class="card-img">
    <img src="https://vmware.github.io/clarity/clarity_logo.21dda15557a6ebf26fce.svg">
  </div>
  <div class="card-block">
    <p class="card-text">
      <a href="https://vmware.github.io/clarity/documentation" target="_blank">
        Check out the clarity documentation for components and icons
      </a>
    </p>
    <p class="card-text">
      <a href="https://vmware.github.io/clarity/documentation/app-layout" target="_blank">
        Check out the clarity documentation for application layout
      </a>
    </p>
  </div>
</div>
</div>
