<div class="content-area" style="overflow:hidden;" role="main">
  <div class="card" style="min-width:300px; width: 20%; margin: 15% auto;">
    <div class="card-img">
      <img src="assets/ukis-splash-white.svg" alt="ukis logo white">
    </div>
    <div class="card-block">
      <p class="card-text">
        <a href="https://vmware.github.io/clarity/documentation" target="_blank">
          Check out the clarity documentation for components and icons
        </a>
      </p>
      <p class="card-text">
        <a href="https://vmware.github.io/clarity/documentation/app-layout" target="_blank">
          Check out the clarity documentation for application layout
        </a>
      </p>
    </div>
  </div>
</div>