.clr-vertical-nav {
  border-radius: 1px;
  .nav-trigger-icon {
    color: #aaa;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.2rem;
  }
  .nav-icon {
    height: 1rem;
    width: 1rem;
    flex: 0 0 1rem;
  }
  .nav-group-text,
  .nav-link,
  .nav-group-children .padding {
    padding: 0 0.4rem;
  }
  .nav-group-content .nav-icon {
    margin: 0 0.4rem;
  }
  .nav-content > *:not(:last-child) {
    border-bottom: $clr-lighter-midtone-gray solid 1px !important;
  }
  &.is-collapsed {
    .nav-icon {
      margin-left: 0.5rem !important;
    }
    .nav-group-trigger .nav-group-trigger-icon {
      display: none;
    }
    .nav-content > * {
      border-bottom: none;
    }
  }
  .nav-divider {
    margin: 0 0 0.5rem 0;
  }
  .nav-link {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .floating {
    .content-container {
      display: block;
      position: relative;
      .content-area {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .clr-vertical-nav {
        position: absolute;
        margin: 1rem;
        max-height: calc(100vh - 2rem);
        //max-height: calc(100% - 2rem);
        right: 0;
      }
      nav.sidenav {
        position: absolute;
        //right: 0;
        left: 0;
        height: calc(100vh - (24px *2.5));
        background: $clr-vertical-nav-bg-color;
      }
      &.left {
        .clr-vertical-nav {
          right: auto;
          left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .content-container {
    &:not(.left) {
      flex-direction: row-reverse;
      .clr-vertical-nav.clr-nav-level-2 .nav-trigger {
        margin-right: auto;
        margin-left: 0.125rem;
        clr-icon {
          margin-left: 0.2rem;
          margin-right: auto;
          &[dir="right"] svg {
            transform: rotate(270deg);
          }
          &[dir="left"] svg {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  // doesn't work with left aligned context menu
  .main-container.open-overflow-menu {
    .header-overflow-trigger {
      right: -26px;
      //right: calc((100% - 12rem) / 2 - 0.5rem - 30px); // center
      right: calc((100vw - 12rem) / 2 - 0.5rem - 30px); // center
    }
  }
}
