<clr-main-container>
  @if(ui.alert){
    <ukis-global-alert [(alert)]="ui.alert"></ukis-global-alert>
  }
  @if(ui.progress){
    <ukis-global-progress [(progress)]="ui.progress"></ukis-global-progress>
  }
  <ukis-header [ukis-title]="title">
    <!-- <a class="nav-link nav-text header-nav-el"><span class="nav-text">Test link</span></a> -->
    <!-- <a href="..." class="nav-link nav-text header-nav-el"><span class="nav-text">Interactive Analytics</span></a>
    <div class="header-action-el">
      <a href="..." class="nav-link nav-icon" aria-label="settings">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div> -->
  </ukis-header>
  <app-example-view></app-example-view>
</clr-main-container>
