<clr-main-container [ngClass]="{'floating':ui.floating}">
  <ukis-global-alert *ngIf="ui.alert" [(alert)]="ui.alert"></ukis-global-alert>
  <ukis-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></ukis-global-progress>

  <ukis-header [ukis-title]="title">
    <!-- <a class="nav-link nav-text header-nav-el"><span class="nav-text">Test link</span></a> -->
    <!-- <a href="..." class="nav-link nav-text header-nav-el"><span class="nav-text">Interactive Analytics</span></a>
    <div class="header-action-el">
      <a href="..." class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div> -->
  </ukis-header>
  <app-example-view></app-example-view>
</clr-main-container>
