:root {
  --header-branding-icon-color: #fff;
  --header-branding-icon-color-mobile: #565656;
}

/** HEADER -------------------------------------------------------------- */
.header {
  .branding {
    flex: 0 1 auto;
    overflow: hidden;
    //  min-width: 10.2rem;

    a {
      clr-icon {
        color: var(--header-branding-icon-color);
      }

      &.nav-link{
        overflow: hidden;
      }
    }

    .title {
      font-size: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;

      &.short {
        display: none;
      }
    }

    .version {
      margin-left: 0.3rem;
      font-size: 1rem;
      color: var(--clr-header-title-color, #fafafa);
      font-weight: var(--clr-header-title-font-weight, 400);
      font-family: var(--clr-header-title-font-family, Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif);
      letter-spacing: 0.01em;
      line-height: 3rem;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .branding {
      a {
        clr-icon {
          color: var(--header-branding-icon-color-mobile);
        }
      }

      &.short-title {
        .title.short {
          display: flex;
        }
        .title {
          display: none;
        }
      }
    }
  }
}

/** FOOTER -------------------------------------------------------------- */
.footer {
  background-color: var(--clr-vertical-nav-bg-color, var(--fallback-color-no-clr));
  padding: 0.2rem 1rem;

  p {
    margin: 0;
  }
}

.main-container .content-container .footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/** CONTENT -------------------------------------------------------------- */
// adjust padding of main container for map!!!
.main-container .content-container .content-area {
  &.map-view {
    padding: 0;
  }
}

.content-area {
  background: #fff;
  color: var(--clr-color-neutral-700, var(--fallback-color-no-clr));
}


.text-primary {
  color: var(--clr-color-action-600, var(--fallback-color-no-clr));
}
