<!-- for map  -->
<main class="content-area map-view">
    <ng-container *ngIf="is2dMap">
        <ukis-map-ol [layersSvc]="twoDlayerSvc" [mapState]="mapStateSvc"></ukis-map-ol>
    </ng-container>
    <ng-container *ngIf="!is2dMap">
        <ukis-map-cesium [twoDlayersSvc]="twoDlayerSvc" [threeDlayersSvc]="threeDlayerSvc" [mapState]="mapStateSvc"
            [controls]="controls"></ukis-map-cesium>
    </ng-container>
</main>


<!-- for layer-control -->
<clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="2" class="right">
    <clr-vertical-nav-group *ngIf="!is2dMap" [clrVerticalNavGroupExpanded]="true" class="layers three-d-layer-control">
        <clr-icon shape="block" clrVerticalNavIcon title="tilelayers"></clr-icon>
        3D Tilelayers
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-layer-control [layersSvc]="threeDlayerSvc" [layersSort]="false" [mapStateSvc]="mapStateSvc"></ukis-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group *ngIf="!is2dMap" [clrVerticalNavGroupExpanded]="true" class="layers">
        <clr-icon shape="world" title="terain" clrVerticalNavIcon></clr-icon>
        3D Terrain
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-base-layer-control [layersSvc]="threeDlayerSvc" [mapStateSvc]="mapStateSvc"></ukis-base-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
        <clr-icon shape="world" title="Overlays" clrVerticalNavIcon></clr-icon>
        Overlays
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-layer-control [layersSvc]="twoDlayerSvc" [mapStateSvc]="mapStateSvc" [layersSort]="false" [layerfilter]="'Overlays'">
            </ukis-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
        <clr-icon shape="layers" clrVerticalNavIcon title="layers"></clr-icon>
        Layers
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-layer-control [layersSvc]="twoDlayerSvc" [mapStateSvc]="mapStateSvc"></ukis-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
        <clr-icon shape="world" title="Baselayers" clrVerticalNavIcon></clr-icon>
        Baselayers
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-base-layer-control [layersSvc]="twoDlayerSvc" [mapStateSvc]="mapStateSvc"></ukis-base-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>

    <a clrVerticalNavLink *ngIf="is2dMap" class="iconButton" (click)="changeMapDimension()">
        <clr-icon shape="block" title="3D View" clrVerticalNavIcon></clr-icon>
        3D View
    </a>
    <a clrVerticalNavLink *ngIf="!is2dMap" class="iconButton" (click)="changeMapDimension()">
        <clr-icon shape="map" title="2D View" clrVerticalNavIcon></clr-icon>
        2D View
    </a>

</clr-vertical-nav>
