<form clrForm [formGroup]="sunlightForm">
    <clr-input-container>
        <label>x</label>
        <input type="range" min="-100" max="100" value="0" clrInput formControlName="x">
        <clr-control-helper>Sun-x-position: left = east, right = west</clr-control-helper>
    </clr-input-container>
    <clr-input-container>
        <label>y</label>
        <input type="range" min="-100" max="100" value="0" clrInput formControlName="y">
        <clr-control-helper>Sun-y-position: left = south, right = north</clr-control-helper>
    </clr-input-container>
</form>
