<main class="content-area">
  <ukis-map-ol *ngIf="showMap" [layersSvc]="layersSvc" [mapState]="mapStateSvc" [controls]="controls" id="olMap"></ukis-map-ol>
</main>



<clr-vertical-nav [clrVerticalNavCollapsible]="true" class="right" [clr-nav-level]="2">

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
    <clr-icon shape="world" title="Overlays" clrVerticalNavIcon></clr-icon>
    Overlays
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <ukis-layer-control [layersSvc]="layersSvc" [mapStateSvc]="mapStateSvc" [layerfilter]="'Overlays'">
      </ukis-layer-control>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
    <clr-icon shape="layers" clrVerticalNavIcon title="layers"></clr-icon>
    Layers
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <ukis-layer-control [layersSvc]="layersSvc" [mapStateSvc]="mapStateSvc"></ukis-layer-control>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
    <clr-icon shape="world" title="Baselayers" clrVerticalNavIcon></clr-icon>
    Baselayers
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <ukis-base-layer-control [layersSvc]="layersSvc" [mapStateSvc]="mapStateSvc"></ukis-base-layer-control>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
    <clr-icon shape="cog" title="Actions" clrVerticalNavIcon></clr-icon>
    Actions
    <clr-vertical-nav-group-children class="padding title-ellipsis">

      <button class="btn btn-primary" (click)="updateLayerGroup()">update LayerGroup</button>
      <button class="btn btn-primary" (click)="addLayerToGroup()">add Layer to LayerGroup</button>

      <button class="btn btn-primary" (click)="removeAllLayers()">remove All Layers</button>
      <button class="btn btn-primary" (click)="setExtent()">set Extent</button>

      <button class="btn btn-primary" (click)="parseCapabilities()">Parse WMS capabilities</button>

      <button class="btn btn-primary" (click)="toggleMap()">toggle Map</button>

    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

</clr-vertical-nav>
