<clr-vertical-nav-group>
  <clr-icon shape="layers" clrVerticalNavIcon></clr-icon>
  Layers
  <clr-vertical-nav-group-children>



    <ng-template clrIfExpanded="false">
      <clr-tree-node *ngFor="let type of layers" [(clrSelected)]="type.selected" [clrIndeterminate]="type.selected === undefined">
        {{type.type}}
        <ng-template [(clrIfExpanded)]="type.expanded">
          <clr-tree-node *ngFor="let layer of type.layers" [(clrSelected)]="layer.visible">
            {{layer.name}}
          </clr-tree-node>
        </ng-template>
      </clr-tree-node>
    </ng-template>



  </clr-vertical-nav-group-children>

</clr-vertical-nav-group>
