<clr-main-container >

  <ukis-global-alert *ngIf="alert" [(alert)]="alert"></ukis-global-alert>

  <ukis-header></ukis-header>

  <!--<nav class="subnav">
  </nav>-->


  <div class="content-container floating"> <!-- reverse-->
    <div class="content-area">

    </div>


    <clr-vertical-nav clrVerticalNavCollapsible="false" [clr-nav-level]="2">
        <clr-vertical-nav-group
                routerLinkActive="active">
            <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
            Normal
            <clr-vertical-nav-group-children>
                <a clrVerticalNavLink
                   routerLink="./normal/pidgey"
                   routerLinkActive="active">
                    Pidgey
                </a>
                <a clrVerticalNavLink
                   routerLink="./normal/snorlax"
                   routerLinkActive="active">
                    Snorlax
                </a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <clr-vertical-nav-group
                routerLinkActive="active">
            <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
            Fire
            <clr-vertical-nav-group-children>
                <a clrVerticalNavLink
                   routerLink="./fire/charmander"
                   routerLinkActive="active">
                    Charmander
                </a>
                <a clrVerticalNavLink
                   routerLink="./fire/charizard"
                   routerLinkActive="active">
                    Charizard
                </a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <clr-vertical-nav-group
                routerLinkActive="active">
            <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
            Electric
            <clr-vertical-nav-group-children>
                <a clrVerticalNavLink
                   routerLink="./electric/pikachu"
                   routerLinkActive="active">
                    Pikachu
                </a>
                <a clrVerticalNavLink
                   routerLink="./electric/raichu"
                   routerLinkActive="active">
                    Raichu
                </a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <div class="nav-divider"></div>
        <a clrVerticalNavLink (click)="setAlert('info')">
            <clr-icon shape="info-circle" clrVerticalNavIcon></clr-icon>
            alert-info
        </a>
        <a clrVerticalNavLink (click)="setAlert('warning')">
            <clr-icon shape="exclamation-triangle" clrVerticalNavIcon></clr-icon>
            alert-warning
        </a>
        <a clrVerticalNavLink (click)="setAlert('danger')">
            <clr-icon shape="exclamation-circle" clrVerticalNavIcon></clr-icon>
            alert-danger
        </a>
        <div class="nav-divider"></div>
        <a clrVerticalNavLink>
            <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
            Credit
        </a>
    </clr-vertical-nav>

    
    
   
  </div>
</clr-main-container>