<clr-main-container>

  <ukis-global-alert *ngIf="alert" [(alert)]="alert"></ukis-global-alert>

  <ukis-header></ukis-header>

  <!--<nav class="subnav">
</nav>-->


  <div class="content-container" [ngClass]="{'floating':ui.floating}">
    <!-- reverse-->

    <div class="content-area">
      <ukis-ol-map class="map" [store]="AppStoreService" [layers]="layerSvc"></ukis-ol-map>
    </div>

    <clr-modal [(clrModalOpen)]="AppStoreService.showModal">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
        <p>showModal: {{AppStoreService.showModal}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="AppStoreService.showModal = false;">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="AppStoreService.showModal = false;">Ok</button>
    </div>
    </clr-modal>

    <ukis-mapcontrol class="top-right"></ukis-mapcontrol>


    <clr-vertical-nav clrVerticalNavCollapsible="false" [clr-nav-level]="1">

      <!--<ukis-layerlist [(layers)]="layers"></ukis-layerlist>-->

      <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
        <clr-icon shape="layers" clrVerticalNavIcon></clr-icon>
        Layers
        <clr-vertical-nav-group-children class="padding">

          <div *ngFor="let group of layergroups; index as i; first as isFirst">
            <div class="nav-divider" *ngIf="!isFirst"></div>
            <h5>{{group.name}}</h5>
            <div *ngFor="let layer of group.layers; index as j" [class]="group.inputtype || 'checkbox'">





              <input [type]="group.inputtype || 'checkbox'" [name]="'layer'+i" [id]="'layer'+i + '_' + j" [checked]="layer.visible" (change)="showHideLayerSwitch(group, layer)">
              <label [for]="'layer'+i + '_' + j">{{layer.name}}</label>

              <div class="float-sm-right">
                <clr-icon *ngIf="group.removable" shape="trash" [class]="'iconButton'" (click)="removeLayer(group, layer)" title="Remove layer"></clr-icon>
                <!--clr-icon *ngIf="group.removable" shape="cog" size="16" [class]="'float-md-right'"></clr-icon-->


                <clr-dropdown *ngIf="group.removable" [clrCloseMenuOnItemClick]="false">
                  <button type="button" clrDropdownTrigger>
                  <clr-icon shape="cog" size="16"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
                </button>

                  <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" class="lproperties">
                    <div>
                      <clr-tabs>
                        <clr-tab>
                          <button clrTabLink id="link1">
                            <clr-icon shape="wrench" size="16"></clr-icon>
                          </button>
                          <clr-tab-content id="layer_preferences" *clrIfActive="true">
                            <label [for]="'layer_transparency_slider'+i + '_' + j">Opacity: {{layer.opacity}}</label>
                            <br>
                            <input *ngIf="group.removable" [id]="'layer_transparency_slider'+i + '_' + j"
                                   type="range" name="points" [value]="layer.opacity" [min]="0.0" [max]="1.0" [step]="0.1"
                                   (change)="changeOpacity(group, layer)"
                                   [(ngModel)]="layer.opacity" />
                          </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                          <button clrTabLink>
                            <clr-icon shape="info-standard"></clr-icon>
                          </button>
                          <clr-tab-content id="layer_info" *clrIfActive>
                              <p>short layer description goes here</p>
                          </clr-tab-content>
                        </clr-tab>
                      </clr-tabs>
                    </div>
                  </clr-dropdown-menu>
                </clr-dropdown>

              </div>




              <!--clr-icon-- shape="cog"></clr-icon-->
              <!--div *ngIf="group.removable">

               <div *ngIf="group.removable" [class]="'float-md-right'">

              </div>

                      <label [for]="'layer_transparency_slider'+i + '_' + j">Opacity: {{layer.opacity}}</label>
                      <input *ngIf="group.removable" [id]="'layer_transparency_slider'+i + '_' + j"
                             type="range" name="points" [value]="layer.opacity" min="0.0" max="1.0" step="0.1"
                             (change)="changeOpacity(group, layer)"
                             [(ngModel)]="layer.opacity" />
              </div-->


                <!--clr-dropdown *ngIf="group.removable" [clrCloseMenuOnItemClick]="false">
                  <button type="button" clrDropdownTrigger>

                    <clr-icon shape="caret down" size="16"></clr-icon>
                  </button>

                  <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <div>

                    </div>

                    <clr-tabs>
                      <clr-tab>
                        <button clrTabLink id="link1">
                          <clr-icon shape="cog" size="16"></clr-icon>
                        </button>
                        <clr-tab-content id="layer_preferences" *clrIfActive="true">

                        </clr-tab-content>
                      </clr-tab>
                      <clr-tab>
                        <button clrTabLink>
                          <clr-icon shape="info-standard"></clr-icon>
                        </button>
                        <clr-tab-content id="layer_info" *clrIfActive>
                          <p>Layer description goes here</p>
                        </clr-tab-content>
                      </clr-tab>
                    </clr-tabs>




                  </clr-dropdown-menu>
                </clr-dropdown!-->








            </div>
          </div>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group>
        <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
        Fire
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink>
            Charmander
          </a>
          <a clrVerticalNavLink>
            Charizard
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group>
        <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
        Electric
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink>
            Pikachu
          </a>
          <a clrVerticalNavLink>
            Raichu
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="setAlert('info')">
        <clr-icon shape="info-circle" clrVerticalNavIcon></clr-icon>
        alert-info
      </a>
      <a clrVerticalNavLink (click)="setAlert('warning')">
        <clr-icon shape="exclamation-triangle" clrVerticalNavIcon></clr-icon>
        alert-warning
      </a>
      <a clrVerticalNavLink (click)="setAlert('danger')">
        <clr-icon shape="exclamation-circle" clrVerticalNavIcon></clr-icon>
        alert-danger
      </a>
      <a clrVerticalNavLink (click)="AppStoreService.showModal = !AppStoreService.showModal;">
        <clr-icon shape="help-info" clrVerticalNavIcon></clr-icon>
        show Modal
      </a>

      <div class="nav-divider"></div>

      <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
        <clr-icon shape="map-marker" class="is-solid" clrVerticalNavIcon></clr-icon>
        Map state
        <clr-vertical-nav-group-children class="padding">
          <ukis-mapnavigator></ukis-mapnavigator>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="ui.floating=!ui.floating">
        <clr-icon [attr.shape]="ui.floating?'resize-up':'resize-down'" clrVerticalNavIcon></clr-icon>
        {{ui.floating?'attach':'detach'}}
      </a>

    </clr-vertical-nav>

  </div>
</clr-main-container>
