<clr-main-container>

  <ukis-global-alert *ngIf="alert" [(alert)]="alert"></ukis-global-alert>

  <ukis-header>


    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>About</a>
        <a href="..." clrDropdownItem>Preferences</a>
        <a href="..." clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>

    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <ukis-userinfo [authService]="authService"></ukis-userinfo>
      </clr-dropdown-menu>
    </clr-dropdown>


  </ukis-header>



  <!--<nav class="subnav">
</nav>-->


  <clr-modal [(clrModalOpen)]="obsListOpen" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Observation list</h3>
    <div class="modal-body">
      <ukis-observationlist [layerSvc]="layerSvc"></ukis-observationlist>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="obsListOpen = false">Ok</button>
    </div>
  </clr-modal>

  <div class="content-container" [ngClass]="{'floating':ui.floating}">
    <!-- reverse-->

    <div class="content-area">
      <ukis-ol-map class="map" [store]="AppStoreService" [layers]="layerSvc"></ukis-ol-map>

      <!--ukis-www-map [store]="AppStoreService" [layers]="layerSvc"></ukis-www-map-->
    </div>


    <ukis-mapcontrol class="top-right"></ukis-mapcontrol>


    <clr-vertical-nav clrVerticalNavCollapsible="false" [clr-nav-level]="1">
      <!--<ukis-layerlist [(layers)]="layers"></ukis-layerlist>-->

      <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
        <clr-icon shape="layers" clrVerticalNavIcon></clr-icon>
        Layers
        <clr-vertical-nav-group-children class="padding title-ellipsis">

          <div *ngFor="let group of layergroups; index as i; first as isFirst; let showDetails=false;">
            <div class="nav-divider" *ngIf="!isFirst"></div>
            <h6>{{group.name}}
                <clr-icon *ngIf="group.name==='Overlays'" class="float-sm-right iconButton" shape="plus-circle" size="18" (click)="showObsList()"></clr-icon>
            </h6>
            <div *ngFor="let layer of group.layers; index as j" [class]="group.inputtype || 'checkbox'">

                <ukis-layerentry [layerSvc]="layerSvc" [layer]="layer" [group]="group" (update)="layerUpdate($event, group, layer)">

                </ukis-layerentry>

            </div>
          </div>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group>
        <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
        Fire
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink>
            Charmander
          </a>
          <a clrVerticalNavLink>
            Charizard
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group>
        <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
        Electric
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink>
            Pikachu
          </a>
          <a clrVerticalNavLink>
            Raichu
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="setAlert('info')">
        <clr-icon shape="info-circle" clrVerticalNavIcon></clr-icon>
        alert-info
      </a>
      <a clrVerticalNavLink (click)="setAlert('warning')">
        <clr-icon shape="exclamation-triangle" clrVerticalNavIcon></clr-icon>
        alert-warning
      </a>
      <a clrVerticalNavLink (click)="setAlert('danger')">
        <clr-icon shape="exclamation-circle" clrVerticalNavIcon></clr-icon>
        alert-danger
      </a>
      <a clrVerticalNavLink (click)="AppStoreService.showModal = !AppStoreService.showModal;">
        <clr-icon shape="help-info" clrVerticalNavIcon></clr-icon>
        show Modal
      </a>

      <div class="nav-divider"></div>

      <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="false">
        <clr-icon shape="map-marker" class="is-solid" clrVerticalNavIcon></clr-icon>
        Map state
        <clr-vertical-nav-group-children class="padding">
          <ukis-mapnavigator></ukis-mapnavigator>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="ui.floating=!ui.floating">
        <clr-icon [attr.shape]="ui.floating?'resize-up':'resize-down'" clrVerticalNavIcon></clr-icon>
        {{ui.floating?'attach':'detach'}}
      </a>

    </clr-vertical-nav>

  </div>
</clr-main-container>
