<form clrForm [formGroup]="sunlightForm" clrLayout="horizontal">
    <label>Sun position</label>
    <clr-input-container>
        <label>x</label>
        <input type="range" min="-100" max="100" value="0" clrInput formControlName="x">
        <clr-control-helper>east -> west</clr-control-helper>
    </clr-input-container>
    <clr-input-container>
        <label>y</label>
        <input type="range" min="-100" max="100" value="0" clrInput formControlName="y">
        <clr-control-helper>south -> north</clr-control-helper>
    </clr-input-container>
</form>
