<main class="content-area">
    <ukis-map-ol [layersSvc]="layersSvc" [mapState]="mapStateSvc" id="olMap" [controls]="controls"></ukis-map-ol>
</main>

<clr-vertical-nav [clrVerticalNavCollapsible]="true" class="right" [clr-nav-level]="2">

    <ukis-performance></ukis-performance>

    <app-fetchbutton></app-fetchbutton>

    <p>Load data and pan the map for a while to see a drop in performance.</p>

    <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
        <clr-icon shape="layers" clrVerticalNavIcon title="layers"></clr-icon>
        Layers
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-layer-control [layersSvc]="layersSvc" [mapStateSvc]="mapStateSvc"></ukis-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
</clr-vertical-nav>