<main class="content-area map-view">
    <ukis-map-ol [layersSvc]="layersSvc" [mapState]="mapStateSvc" id="olMap" [controls]="controls"></ukis-map-ol>
</main>

<clr-vertical-nav [clrVerticalNavCollapsible]="true" class="right" [clr-nav-level]="2">

    <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
        <cds-icon shape="clock" title="Performance" clrVerticalNavIcon></cds-icon>
        Performance
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-performance></ukis-performance>
        </clr-vertical-nav-group-children>

    </clr-vertical-nav-group>

    <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
        <cds-icon shape="layers" clrVerticalNavIcon title="layers"></cds-icon>
        Layers
        <clr-vertical-nav-group-children class="padding title-ellipsis">
            <ukis-layer-control [layersSvc]="layersSvc" [mapStateSvc]="mapStateSvc"></ukis-layer-control>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
</clr-vertical-nav>