<clr-main-container>
  @if (ui.alert) {
    <ukis-global-alert [(alert)]="ui.alert"></ukis-global-alert>
  }
  @if (ui.progress) {
    <ukis-global-progress [(progress)]="ui.progress"></ukis-global-progress>
  }
  <ukis-cookie-alert [alert-text]="'my alert text'" [privacy-link]="'link to privacy'"></ukis-cookie-alert>

  <ukis-header [ukis-title]="title">
    @if (!userService.isloggedIn()) {
      <a routerLink="/login" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">Login</a>
    }
    @if (userService.isloggedIn()) {
      <a routerLink="/user" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">User</a>
    }
    <a routerLink="/map" routerLinkActive="active" class="nav-link nav-text header-nav-el">Map</a>

  </ukis-header>
  <router-outlet></router-outlet>
</clr-main-container>
