/** workaround for footer inside a route */
:host-context(.content-container) {
  &>* {
    // width: 100vw;
    // height: 90%;
  }

  .ukis-footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    // height: 10%;
    padding: 0rem 1rem;
  }
}


/**
  * flexbox test not working because clarity forces a Layout structure like following with direct childs:
  *
  *  main-container
  *     content-container
  *         content-area
  *
  * -----------------------------------------------------------------------------------------------------
  * if we get a route then the component is placed outside of the router-outlet like this:
  *  main-container
  *     router-outlet
  *     route-component
  * 
  * so we have to set the class .content-container on our route-component to make it working
  * but the we don't can show multiple elements for a route like:
  *   main-container
  *      content-container
  *      subnav
  *      header
  *      footer 
  *
  * because all element are childs of the route and not descendants...
  */



/** Tests flexbox not working -----------------------------------------------------------*/
/* .ukis-content-container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  
    &>:nth-child(3) {
      flex: 1 100%;
    }
  
    .sidenav {
      order: 1;
    }
  
    .content-area {
      order: 2;
      flex-grow: 1;
    }
  
    .ukis-footer {
      order: 3;
      flex-grow: 0;
    }
  } */


/* .content-container {
    flex-flow: row wrap;
  
    .ukis-footer {
      flex-grow: 1;
    }
  
    .break {
      // flex-basis: 100%;
      // line-break: after;
      page-break-after: always;
      break-after: always;
      display: inline-block;
      width: 100%;
      height: 0px;
      overflow: hidden;
    }
  } */
