<div>
  <input class="float-sm-left" [type]="group.inputtype || 'checkbox'" [name]="'layer'+i" [id]="layer.name" [checked]="layer.visible" (change)="showHideLayerSwitch(group, layer)">
  <label [for]="layer.name" [title]="layer.name">{{layer.name}}</label>
  <div class="float-sm-right">
    <clr-icon *ngIf="group.removable" shape="trash" [class]="'iconButton'" (click)="removeLayer(group, layer)" title="Remove layer"></clr-icon>
    <clr-icon shape="angle-double" [ngClass]="{'iconButton': true, 'iconButton-drpDwn': !openProperties, 'iconButton-drpDwn-active': openProperties}" (click)="showProperties()" title="Details" ></clr-icon>
  </div>
  <div *ngIf="openProperties" class="lproperties">
    <div>
      <clr-icon title="Layer settings" shape="cog" size="16" [ngClass]="{'iconButton': true, 'is-solid': activeTabs['settings']}" (click)="switchTab('settings')"></clr-icon>
      <clr-icon title="Layer info" shape="info-standard" size="16" [ngClass]="{'iconButton': true, 'is-solid': activeTabs['description']}" (click)="switchTab('description')"></clr-icon>
    </div>
    <hr>
    <div *ngIf="activeTabs['settings']">
      <label [for]="'layer_transparency_slider_'+layer.name">Opacity: {{" "}}</label>
      <input [id]="'layer_transparency_slider_'+layer.name"
             type="range" name="points" [value]="layer.opacity" [min]="0.0" [max]="1.0" [step]="0.1"
             (change)="changeOpacity(layer)"
             [(ngModel)]="layer.opacity" />
      {{" "+layer.opacity}}
    </div>
    <div *ngIf="activeTabs['description']">
      <p>short layer description and legend goes here</p>
      <p>{{layer.name}}</p>
    </div>
  </div>
</div>
