<div *ngIf="alert" class="alert alert-app-level" [ngClass]="'alert-'+alert.type" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text" [innerHTML]=alert.text></div>
      <div *ngIf="alert.actions" class="alert-actions">
        <button *ngFor="let action of alert.actions" class="btn alert-action" aria-label="alert action"
          (click)="action.callback && action.callback()">{{action.title}}</button>
      </div>
    </div>
  </div>
  <button *ngIf="alert.closeable" type="button" class="close" aria-label="alert close" (click)="close()">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>
