<clr-header class="header-1">
  <div class="branding" [ngClass]="{'short-title':shortTitle}">
    <a href="https://www.dlr.de" target="_blank" alt="link to dlr">
      <clr-icon shape="dlr" class="is-solid" size="48" alt="dlr icon"></clr-icon>
    </a>
    <a href="https://www.dlr.de/eoc/desktopdefault.aspx/tabid-5413/10560_read-21914" target="_blank"
      alt="link to dlr ukis">
      <clr-icon shape="ukis" class="is-solid" size="33" alt="ukis icon"></clr-icon>
    </a>
    <a class="nav-link" routerLink="/" routerLinkActive="active">
      <span class="title" [title]="title">{{title}}</span>
      <span class="title short" [title]="title">{{shortTitle}}</span>
    </a>
    <span class="version" *ngIf="version">{{version}}</span>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <ng-content select=".header-nav-el"></ng-content>
  </div>

  <ng-content></ng-content>

  <div class="header-actions">
    <ng-content select=".header-action-el"></ng-content>
  </div>
</clr-header>
