<main class="content-area map-view">
  <ukis-map-ol [layersSvc]="layersSvc" [mapState]="mapStateSvc" [controls]="controls" id="olMap"></ukis-map-ol>
</main>

<clr-vertical-nav [clrVerticalNavCollapsible]="true" class="right" [clr-nav-level]="2">
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
    <cds-icon shape="layers" clrVerticalNavIcon title="layers"></cds-icon>
    Layers
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <ukis-layer-control [layersSvc]="layersSvc" [mapStateSvc]="mapStateSvc"></ukis-layer-control>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers" title="Projection">
    <cds-icon shape="map" clrVerticalNavIcon></cds-icon>
    Projection
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      On change, the map will fit to the new Projection extent. See "fitViewToNewExtent" Input
      <p></p>
      <ukis-projection-switch [mapSvc]="mapSvc" [mapState]="mapStateSvc" [projectionList]="projections" [fitViewToNewExtent]="true"></ukis-projection-switch>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers" title="Coordinates">
    <cds-icon shape="compass" clrVerticalNavIcon></cds-icon>
    Coordinates
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <ukis-mouse-position [mapSvc]="mapSvc" [mapState]="mapStateSvc"></ukis-mouse-position>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers" title="Navigator">
    <cds-icon shape="compass" clrVerticalNavIcon></cds-icon>
    Navigator
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <ukis-map-navigator [mapState]="mapStateSvc"></ukis-map-navigator>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers" title="Extent">
    <cds-icon shape="compass" clrVerticalNavIcon></cds-icon>
    Extent
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <app-extent-helper [mapStateSvc]="mapStateSvc"></app-extent-helper>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
  <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" class="layers">
    <cds-icon shape="cog" title="Actions" clrVerticalNavIcon></cds-icon>
    Actions
    <clr-vertical-nav-group-children class="padding title-ellipsis">
      <button class="btn btn-primary" (click)="setExtent()">set Extent (Antarctic)</button>
      <button class="btn btn-primary" (click)="setNewProjection()">set Projection and bbox (Antarctic)</button>
      <button class="btn btn-primary" (click)="addLayer()">Add Swiss GeoJSON Layer</button>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>
</clr-vertical-nav>
