/* You can add global styles to this file, and also import other style files */
@import '~clarity-icons/clarity-icons.min.css';

@import 'app/clr_overwrites';
@import '~clarity-ui/src/main';

.content-area {
    background:#444;
}

button:focus {
  outline: none; }

.main-container:not([class*="open-overflow-menu"]):not([class*="open-hamburger-menu"]) .clr-vertical-nav.is-collapsed .nav-icon {

    margin-left: 0.5rem;
}

.clr-vertical-nav .nav-icon {
    height: 1rem;
    width: 1rem;
}

.clr-vertical-nav .nav-group-trigger .nav-group-trigger-icon {
    display: none;
}


@media screen and (min-width: 768px) {
  
.content-container {

    &.reverse {
       flex-direction: row-reverse; 
    }

    &.floating {


        display:block;
            position:relative;

        .content-area {
            position:absolute;
            width:100%;
            height:100%
        }
        .clr-vertical-nav {
            position:absolute;
            margin:1rem;
            max-height: calc(100% - 2rem);
        }

        &.reverse {
            .clr-vertical-nav {
                right:0
            }
    }

    }

}
  }
