/* You can add global styles to this file, and also import other style files */

@import '~clarity-icons/clarity-icons.min.css';
@import 'app/clr_overwrites';
@import '~clarity-ui/src/main';
.content-area {
    background: #444;
}

button:focus {
    outline: none;
}

.header {
    .branding {
        .title {
            padding-left: 1rem;
            font-size: 1rem;
        }
    }
}

.clr-vertical-nav {
    border-radius: 1px;
    .nav-trigger-icon {
        color: #aaa;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .2rem;
    }
    .nav-icon {
        height: 1rem;
        width: 1rem;
    }
    $spacing_left: .8rem;
    .nav-group-text,
    .nav-link {
        padding-left: $spacing_left;
    }
    .nav-group-content .nav-icon {
        margin-left: $spacing_left;
    }
    &.is-collapsed {
        .nav-icon {
            margin-left: 0.5rem !important;
        }
        .nav-group-trigger .nav-group-trigger-icon {
            display: none;
        }
    }
    .clr-tree-node-content-container {
        margin-left: .5rem;
    }
    .nav-group-children .padding {
        padding: .4rem 1rem;
    }
    h5 {
        margin-top: .2rem;
    }
}

.content-container {
    position: relative;
}

.iconButton:hover {
  cursor:pointer;
}

.lproperties {
  width: 100%;
  overflow-x: scroll;
}

@media screen and (min-width: 768px) {
    .content-container {
        &.reverse {
            flex-direction: row-reverse;
        }
        &.floating {
            display: block;
            position: relative;
            .content-area {
                position: absolute;
                width: 100%;
                height: 100%
            }
            .clr-vertical-nav {
                position: absolute;
                margin: 1rem;
                max-height: calc(100% - 2rem);
            }
            &.reverse {
                .clr-vertical-nav {
                    right: 0
                }
            }
        }
    }
}
