.content {
  position: absolute;
  width: 100%;
  //height: 100%;
  height: calc(100vh - (24px * 2.5));
  //background: #565656;

  .login {
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: auto;
    display: flex;

    @media screen and (min-width: 768px) {
      height: 100%;
    }

    .title {
      padding: 0 0rem;
      line-height: 1.5rem;
      font-size: 1.333333rem;
    }

    .ukis-userinfo {
      .dropdown-menu {
        position: relative;
        flex-direction: column;
        background: inherit;
        padding: 0.5rem 0;
        border: none;
        box-shadow: none;
        visibility: inherit;
        z-index: inherit;
      }
    }

    .login-form {
      background: #fafafa;
      padding: 1% 6%;
      height: 50%;
    }

    .login-banner {
      background: #565656;
      display: none;
      width: 100%;
      height: 50%;

      img {
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 50vh;
        }

        @media screen and (min-width: 768px) {
          width: 100%;
        }
      }
    }

    @media screen and (min-width: 480px) {

      .login-form,
      .login-banner {
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      display: block;

      .login-form,
      .login-banner {
        display: block;
        height: 100%;
        width: 50%;
        float: left;
      }
    }
  }
}
