<main class="content-area">
  <article class="content">
    <div class="login">
      <form class="login-form">
        <section class="title">
          <h3 class="welcome">Welcome to</h3>
          UKIS Frontend
          <h5 class="hint">Use your User Credentials to sign in or Request new Credentials.</h5>
        </section>
        <div class="ukis-userinfo">
          <ukis-login></ukis-login>
        </div>
      </form>
      <div class="login-banner">
        <img src="/assets/ukis-splash-white.svg" alt="">
      </div>
    </div>
  </article>
</main>
